

/* PAGELINES ADMIN SETTINGS *****/

/* OPTIONS LAYOUT */ 
.tabinfo .form-table .titledesc{
	padding: 20px;
}
.pl-save{
	margin-top: 30px;
	padding: 30px 0;
	border-top: 1px solid #ddd;
}
.pl-save .button{
	padding: 8px 20px;
	font-size: 17px;
	height: auto;
	
}
/* OPTIONS */ 

.pl-opt-group-header{
	font-size: 1.5em;
	background: rgba(0,0,0,.05);
	margin: 15px 0;
	line-height: 1.6em;
	padding: 10px;
	color: rgba(0,0,0,.6);
}
.pl-opt-group-header i{
	
}

.pl-opt[type=email], 
.pl-opt[type=number], 
.pl-opt[type=password], 
.pl-opt[type=search], 
.pl-opt[type=tel], 
.pl-opt[type=text], 
.pl-opt[type=url], 
select.pl-opt, 
textarea.pl-opt {
	border: 1px solid #bbb;
	border-radius: 2px;
	padding: 4px;
	line-height: 19px;
	margin: 0;
}

span.description{
	margin-left: 10px;
	vertical-align: top;
}
.pl-help{
	font-size: 11px;
	background: #e1e1e1;
	padding: 8px;
	width: 400px;
	margin: 10px 0 0;
}

textarea.pl-typography-preview{
	width: 100%;
	padding: 10px;
	padding: 10px;
}

.pl-colorpicker{
	opacity: 0;
	transition: opacity .5s;
}
.pl-colorpicker.is-ready{
	opacity: 1;
}

/* IMAGE UPLOADER */ 
.image_uploader{

	display: block;
}
.image_preview{
	float: left;
	margin-right: 15px;
	width: 115px;
} 
.image_input{

	float: left;
}
.image_preview_wrap{
	padding: 5px;
	background: #fff;
	border: 1px solid #bbb;
	display: inline-block;
}
.image_preview img{
	max-height: 100px;
	max-width: 100px;
	display: block;
}

/* DASHICONS */ 
.pl-di{
	display: inline-block;
	font-family: "dashicons";
	font-style: normal;
	font-weight: normal;
	vertical-align: bottom;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pl-di-upload:before {
    content: "\f317";
}

.pl-di-images:before {
    content: "\f161";
}

.pl-di-share:before {
   content: "\f237";
}


.pl-di-facebook:before {
   content: "\f304";
}


.pl-di-networking:before {
   content: "\f325";
}

.pl-di-regions:before{
	content: "\f164";
}

/* METABOXES */
.pagelines-metabox-table th{
	width: 30%;
}

.pagelines-metabox-table label{
	font-weight: 300;
}
.pagelines-metabox-table label strong{
	display: block;
}

.pagelines-metabox-table .redux-opts-screenshot{
	max-width: 250px;
}

.CodeMirror{
	border: 1px solid #ccc;
}

.saving-confirm{
	
	display: none;
	margin: 0 15px; 
	color: #000;
}

/* Forms */
.pl-input-field{
	margin: 1em 0;
}

.pl-input-field label{
	
	font-size: 90%;
	display: block;
}

.pagelines-admin .form-table{
	margin-bottom: 0;
}
.pagelines-admin td p{
	max-width: 600px;
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 1em;
}

.pagelines-admin td .update-nag{
	margin: 0;
	padding: 6px 15px;
	text-align: left;
}