

/* PAGELINES ADMIN SETTINGS *****/

.row .span6{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 15px;
}

/* OPTIONS LAYOUT */ 
.tabinfo .form-table .titledesc{
	padding: 20px;
}
.pl-save{
	margin-top: 30px;
	padding: 30px 0;
	border-top: 1px solid #ddd;
}
.pl-save .button, 
.pl-admin-settings .pl-large-button{
	padding: 8px 20px;
	font-size: 17px;
	height: auto;
	
}
/* OPTIONS */ 

.pl-opt-group-header{
	font-size: 1.5em;
	background: rgba(0,0,0,.05);
	margin: 15px 0;
	line-height: 1.1em;
	padding: 10px;
	color: rgba(0,0,0,.6);
}
.pl-opt-group-header small{
	font-size: 12px;
	line-height: 1em;
	font-weight: 300;
}

.pl-opt[type=email], 
.pl-opt[type=number], 
.pl-opt[type=password], 
.pl-opt[type=search], 
.pl-opt[type=tel], 
.pl-opt[type=text], 
.pl-opt[type=url], 
select.pl-opt, 
textarea.pl-opt {
	border: 1px solid #bbb;
	border-radius: 2px;
	padding: 4px;
	line-height: 19px;
	margin: 0;
}

span.description{
	margin-left: 10px;
	vertical-align: top;
}
.pl-help{
	font-size: 11px;
	background: #e1e1e1;
	padding: 8px;
	width: 400px;
	margin: 10px 0 0;
}

.label-standard{
	font-size: 13px;
	margin: 5px 0;
	display: block;
	text-transform: uppercase;
	opacity: .7;
}

.label-small{
	font-size: 11px;
	display: block;
	margin-bottom: 3px;
}

.checklist-btns{
	margin: 0 0 10px;
}

.select-contain{
	display: inline-block;
	margin-right: 5px;
}

.pl-colorpicker{
	opacity: 0;
	transition: opacity .5s;
}
.pl-colorpicker.is-ready{
	opacity: 1;
}

/* IMAGE UPLOADER */ 
.image_uploader{

	display: block;
}
.image_preview{
	float: left;
	margin-right: 15px;
	width: 115px;
	text-align: right;
} 
.image_input{

	float: left;
}
.image_preview_wrap{
	padding: 5px;
	background: #fff;
	border: 1px solid #bbb;
	display: inline-block;
}
.image_preview img{
	max-height: 100px;
	max-width: 100px;
	display: block;
}

/* IMPORT / EXPORT */ 

.checklist-label{
	background: #e1e1e1;
	padding: 10px;
	margin-bottom: 15px;
}
.checklist-label .bd .ttl{
	font-weight: 600;
}
.checklist-label .bd p{
	font-size: 11px;
}

/* MEDIA OBJECT */
.media{
	overflow:hidden;
	overflow: visible;
	zoom: 1;
	display: block;
}
.media > .bd{
		display:table-cell;
		vertical-align: top;
		width: 10000px;
		*display:block;
		*width:auto;
		zoom:1;
}
.media > .bd > :first-child{margin-top:0;}
.media > .bd > :last-child{margin-bottom:0;}

.media > .img{
		max-width: 25%;
		float:left;
		margin-right: 15px;
		text-align: center;
}

.media > .img > img{
	display: inline-block;
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	width: auto\9;

}

/* DASHICONS */ 
.pl-di{
	display: inline-block;
	font-family: "dashicons";
	font-style: normal;
	font-weight: normal;
	vertical-align: bottom;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pl-di-upload:before {
    content: "\f317";
}

.pl-di-images:before {
    content: "\f161";
}

.pl-di-share:before {
   content: "\f237";
}


.pl-di-facebook:before {
   content: "\f304";
}


.pl-di-networking:before {
   content: "\f325";
}

.pl-di-regions:before{
	content: "\f164";
}

/* METABOXES */
.pagelines-metabox-table th{
	width: 30%;
}

.pagelines-metabox-table label{
	font-weight: 300;
}
.pagelines-metabox-table label strong{
	display: block;
}

.pagelines-metabox-table .redux-opts-screenshot{
	max-width: 250px;
}

.CodeMirror{
	border: 1px solid #ccc;
}

.saving-confirm{
	
	display: none;
	margin: 0 15px; 
	color: #000;
}

/* Forms */
.pl-input-field{
	margin: 1em 0;
}

.pl-input-field label{
	
	font-size: 90%;
	display: block;
}

.pagelines-admin .form-table{
	margin-bottom: 0;
}
.pagelines-admin td p{
	max-width: 600px;
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 1em;
}

.pagelines-admin td .update-nag{
	margin: 0;
	padding: 6px 15px;
	text-align: left;
}


/* TipTip CSS - Version 1.2 */
.pl-help-tip {
	float: right;
}

.pl-help-tip {
    cursor: help;
    text-decoration: none;
}
img.pl-help-tip {
    padding: 5px 0 0;
}
#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}
#tiptip_holder.tip_top {
    padding-bottom: 5px;
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: #464646;
}
#tiptip_holder.tip_bottom {
    padding-top: 5px;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: #464646;
}
#tiptip_holder.tip_right {
    padding-left: 5px;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: #464646;
}
#tiptip_holder.tip_left {
    padding-right: 5px;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: #464646;
}
#tiptip_content, .chart-tooltip, .wc_error_tip {
    font-size: 11px;
    color: #fff;
    padding: .5em;
    background: #464646;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    text-align: center;
    max-width: 150px;
}
#tiptip_content code, .chart-tooltip code, .wc_error_tip code {
    background: #888;
    padding: 1px;
}
#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}
.wc_error_tip {
    background: #d82223;
    max-width: 20em;
    white-space: normal;
    position: absolute;
    margin: 1.5em 1px 0 -1em;
    z-index: 9999999;
}
.wc_error_tip:after {
    content: "";
    display: block;
    border: 8px solid #d82223;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -3px;
    left: 50%;
    margin: -1em 0 0 -3px;
}